*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* debug */
.debug>#site_header{
    background-color: greenyellow;
}
.debug nav{
    background-color: cyan;
}
.debug .intro{
    background-color: lightskyblue;
    height: 60%;
}
.debug h1{
    background-color: black;
    height: 2rem;
}
.debug p{
    background-color: gray;
    height:50%
}
.debug .btn{
    height: 35px;
    width:200px;
}

/* header */
#site_header{
    height: 70vh;
}
#site_header>*{
    width: 70% ;
    margin: auto;
}
#site_header>nav{
    height: 10%;
    margin-bottom: 5%;
}
.intro{
    /* max-height: 90%; */
    padding: 5% 10%;
    text-align: center;
}
.intro h1{
    margin-bottom: 2rem;
}
/* utility */
.white_txt{
    color:white;
}
.white_bg{
    background-color: white;
}
.black_bg{
    background-color: rgb(31, 31, 31);
}
.btn{
    display: inline-block;
    padding:.5rem;
    margin: 1.2rem;
}




