*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* debug */
.debug>#site_header{
    background-color: greenyellow;
}

#site_header{
    height: 70vh;
}
