*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* debug */
.debug>#site_header{
    background-color: greenyellow;
}
.debug nav{
    background-color: cyan;
    height: 50px;
}

/* header */
#site_header{
    height: 70vh;
}
#site_header>nav{
    width: 70% ;
    margin:auto;
}





