*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* common */
*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #3a3c3d ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    margin-bottom: 2rem;
}

/* utility */
.container{
    width: 80%;
    margin: auto;
}
.white_txt{
    color:white;
}
.purple_txt{
    color: #596AA3;
}
.white_bg{
    background-color: white;
}
.black_bg{
    background-color: rgb(31, 31, 31);
}
.gray_bg{
    background-color: #F6F6F6;
}
.purple_bg{
    background-color: #8EA1E1;
}
.darkblue_bg{
    background-color: #23272A;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    margin: 1.2rem .5rem;
    border-radius: 20px;
    font-weight: 600;
}
.pad_10_0{
    padding: 10% 0;
}
.footer_pad{
    padding: 6% 0;
}

/* body -----------------------------------------------------------------------*/

/* header */
#site_header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
    /* navbar */
#site_header nav{
    padding: 4% 0;
    text-align: center;
    position:relative;
}
#site_header nav>.logo , #site_header nav>ul , #site_header nav>.btn{
    position:absolute;
    top:50%;
}
#site_header nav>.logo{
    width:11%;
    left:0;
    transform: translateY(-50%);
}
#site_header nav>ul{
    color: white;
    display: inline;
    left:50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
nav li{
    display: inline;
    margin: 0 2%;
}
#site_header nav>.btn{
    margin:0;
    right:0;
    transform: translateY(-50%);
}
.white_txt a{
    color: white;
}
    /* onboarding content  */
.intro{
    padding: 5% 24%;
    text-align: center;
}

/* main */
.side_img,.side_txt{
    float: left;
}
.side_img{
    width:60%;
}
.side_txt{
    width:30%;
    padding-top: 1rem;;
}
.centered_section > *{
    text-align: center;
}
.clearfix.pad_10_0>*:first-child{
    margin-right:10%;
}
main .pad_10_0:last-child{
    padding-bottom: 5%;
}

/* footer */

    /* info and links */
.footer_links{
}
.footer_links>.footer_col:first-child{
    width: 25%;
}
.footer_col{
    float:left;
    margin-right:7%;
    width: 10%;
}
.choose_lang>img{
    height: 1rem;
    vertical-align: middle;
}
.choose_lang>span>i{
    font-size: .7rem;
    vertical-align: middle;
}
.social_icons > i{
    font-size: 1.1rem;
    margin-right: 10%;
}
.footer_col li>a{
    color: white;
}

    /* bottom banner */
#site_footer>div>*:last-child{
    margin-top:5%;
    border-top: 2px solid #8EA1E1;
}
.signup{
    position: relative;
    padding: 5% 0;
}
.signup .btn{
    position: absolute;
    right: 0;
    margin:0;
}






/* DEBUG -------------------------------------------------------------------------------- */
.debug>#site_header{
    background-color: greenyellow;
}
.debug nav{
    background-color: cyan;
}
.debug .intro{
    background-color: lightskyblue;
    height: 60%;
}
.debug h1,.debug h2,.debug h3{
    background-color: black;
    height: 2rem;
}
.debug p{
    background-color: rgb(49, 49, 49);
    height:50%;
}
.debug .btn{
    height: 35px;
    width:200px;
}
.debug section{
    height: 600px;
}
.debug.pad_10_0.gray_bg{
    background-color: darkgray;
}
.debug .container{
    height:100%;
}
.debug .side_img{
    background-color: lightsalmon;
    height:100%;
}
.debug .side_txt{
    background-color: lightslategrey;
    height:100%;
}
.debug .top_txt{
    height:30%;
    background-color: lightslategrey;
}
.debug .bottom_img{
    height: 80%;
    background-color: salmon;
}
.debug main>section:last-child{
    height: 180px;
}
.debug footer{
    height: 600px;
}
.debug .footer_links{
    height: 70%;
}
.debug .footer_col{
    height: 100%;
    background-color: darkslateblue;
}
.debug .signup{
    height: 25%;
    background-color: darkslategray;
}
.debug .signup>img{
    background-color: firebrick;
    padding:1rem;
    display: inline-block;
}