*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* debug */
.debug>#site_header{
    background-color: greenyellow;
}
.debug nav{
    background-color: cyan;
}
.debug .intro{
    background-color: lightskyblue;
    height: 60%;
}

/* header */
#site_header{
    height: 70vh;
}
#site_header>*{
    width: 70% ;
    margin: auto;
}
#site_header>nav{
    height: 10%;
    margin-bottom: 5%;
}
.intro{
    /* max-height: 90%; */
    padding: 0 10%;
}

/* utility */
.white_txt{}
.white_bg{}
.black_bg{}
.btn{
    display: inline-block;
}




